    body{
    background-color:rgb(173, 215, 230);
    font-family: 'Orbitron','Times New Roman',sans-serif;
}

.welcome-text {
    color: rgb(60,60,60);
    text-align: center;   
    font-size: x-large;
}

.underline-bar {
  height: 5px;                 
  width: 1080px;               
  background-color:rgb(60,60,60);      
  margin: 0 auto;     
}

.main-container {
    display:  flex;
    flex-direction: row;
}

.button-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.button {
    width: 90px;
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 8%;       
    max-width: 80px; 
    cursor: pointer;
}

.project-button {
    cursor: pointer;
}

.project-button.enter {
    color: aqua;
}

.project-container {
    margin: 50px 0px 0px 125px;
    background-color: white; 
    border: 0.5vw solid black; 
    height: 75vh;              
    width: 80%;
    max-width: 1250px;         
    min-width: 300px;   
    position: relative;
    display: flex;        
    flex-direction: column;   
    justify-content: center;
    flex-shrink: 0;     
}

.project-container p {
    font-size: x-large;
}
#exit-button {
    width: 90px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 25px 25px 0px 0px;
}

.box {
    height: 100px;
    width: 100px;
    border: 3px solid black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.box p {
    font-size: 14px;
}

.wire {
    background-color: gray;
    height: 10px;
    width: 175px; 
    border-radius: 5px;
}

.wire.active {
    background-color: aqua;
}

.column {
    gap: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wire-column {
    gap: 90px;
    display: flex;
    flex-direction: column;
}

.wire-row {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wire-1 {
    transform: rotate(15deg);
}

.wire-2 {
    transform: rotate(-15deg);
}

.input.active {
    background-color: rgb(255, 225, 0)
}

.input-button-bg {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(128, 128, 128,0.5);
    border: 2px solid black;
    border-radius: 15px;
    height: 30%;
    width: 66px;
}

.input-button-bg.active {
    background-color: rgb(0, 255, 0)
}   

.input-button-bg p {
    position: absolute; 
    margin-left: 33px;
    color: black;
    font-size: 14px;
    pointer-events: none; 
    transition: transform 0.3s;
}

.input-button-bg p.active {    
    transform: translateX(-33px);
}

.input-button {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    height: 100%;
    width: 50%;
    transition: transform 0.3s ease;
}

.input-button.active {
   transform: translateX(33px);
}

.gate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gate.active {
    background-color: rgb(255, 225, 0);
}

.gate-icon {
    height: 100px;
    width: 100px;
}

.output-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.output.active {
    background-color: rgb(255, 225, 0)
}

