body{
    background-color:rgb(173, 215, 230);
    font-family: 'Orbitron','Times New Roman',sans-serif;
}

.welcome-text {
    color: rgb(60,60,60);
    text-align: center;   
    font-size: x-large;
}

.underline-bar {
  height: 5px;                 
  width: 1080px;               
  background-color:rgb(60,60,60);      
  margin: 0 auto;     
}

.main-container {
    display:  flex;
    flex-direction: row;
}

.button-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.button {
    width: 90px;
    cursor: pointer;
}

#exit-button {
    width: 90px;
    position: fixed;
    top: 0;
    right: 0;
    margin: 25px 25px 0px 0px;
}

.about-me-container {
    height: 100vh;              
    width: 100%;  
    position: relative;
    display: flex;
    flex-shrink: 0;    
    margin-left: 325px;       
    margin-top: 25px;
    gap: 25px; 
}

.about-me {
  height: 100%;                 
  width: 55%;  
 
}


.container {
    margin: 25px 0px 0px 325px;
    background-color: white; 
    border: 0.5vw solid black; 
    height: 20vh;              
    width: 54%;
    max-width: 1250px;         
    min-width: 300px;   
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0; 
}

.container h2 {
    margin-left: 25px;
    text-align: left;
}
.container a{
    margin-left: 25px;
    text-decoration: none;
}
