    body{
    background-color:rgb(173, 215, 230);
    font-family: 'Orbitron','Times New Roman',sans-serif;
}

.welcome-text {
    color: rgb(60,60,60);
    text-align: center;   
    font-size: x-large;
}

.underline-bar {
  height: 5px;                 
  width: 1080px;               
  background-color:rgb(60,60,60);      
  margin: 0 auto;     
}

.main-container {
    display:  flex;
    flex-direction: row;
}

.button-container {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.button {
    width: 90px;
    cursor: pointer;
}

.back-button {
    position: absolute;
    top: 2%;
    right: 2%;
    width: 8%;       
    max-width: 80px; 
    cursor: pointer;
}

.project-container {
    margin: 50px 0px 0px 125px;
    background-color: white; 
    border: 0.5vw solid black; 
    height: 200vh;              
    width: 80%;
    max-width: 1250px;         
    min-width: 300px;   
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;     
    gap: 25px;
}

.project-container p {
    font-size: xx-large;
}

.container {            
    width: 100%;  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.output-container {            
    width: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container input{
    height: 30%;              
    width: 250px;    
    font-size: large;
}

.box {
    height: 35px;
    width: 35px;
    background-color:rgb(173, 215, 230);
    border: 0.25vw solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.box.active {
    background-color:rgb(243, 223, 0);
}

.operation {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

}

.output-container output{
    height: 100%;              
    width: 200px;
    font-size: xx-large;
    text-align: center; 
}

.calculate-button {
    height: 35px;              
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(173, 215, 230);
    border: 0.25vw solid black;  
    cursor: pointer;   
}

.calculate-button p{
    font-size: x-large;
}


#exit-button {
    width: 90px;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    margin: 25px 25px 0px 0px;
}


